{% extends "homesite/base.html" %}
{% load staticfiles %}
{% block content %}
{% if user.user_type == 'EMPLOYER' %}
	<!-- Titlebar
	================================================== -->
	<div id="titlebar" class="single submit-page">
		<div class="container">

			<div class="sixteen columns">
				<h2><i class="fa fa-plus-circle"></i> Editar Vaga</h2>
			</div>

		</div>
	</div>


	<!-- Content
	================================================== -->
	<div class="container">
		<!-- Submit Page -->
		<div class="sixteen columns">
			<div class="submit-page">

				<!-- Notice -->
				<!--
				<div class="notification notice closeable margin-bottom-40">
					<p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
				</div>
				-->

				{% for error in form.errors %}
					{{ error }}
				{% endfor %}

				<form method="POST">
					{% csrf_token %}
					{{ form.employer }}
					<div class="form">
						<h5>Título da Vaga</h5>
						{{ form.title }}
						{{ form.errors.title }}
					</div>

					<div class="form">
						<h5>Tipo da Vaga</h5>
						{{ form.job_type }}
						{{ form.errors.job_type }}
					</div>

					<div class="form">
						<h5>Palavras-chave</h5>
						{{ form.keywords }}
						{{ form.errors.keywords }}
						<p class="note">Separe as palavras-chave com vírgula</p>
					</div>

					<div class="form">
						<h5>Cargo</h5>
						{{ form.job_position }}
						{{ form.errors.job_position }}
					</div>

					<div class="form">
						<h5>Descrição da Vaga</h5>
						{{ form.description }}
						{{ form.errors.description }}
					</div>

					<div class="form">
						<h5>Carga Horária</h5>
						{{ form.expedient }}
						{{ form.errors.expedient }}
					</div>

					<div class="form">
						<h5>Cidade</h5>
						{{ form.city }}
						{{ form.errors.city }}
					</div>

					<div class="form">
						<h5>Remuneração</h5>
						{{ form.salary }}
						{{ form.errors.salary }}
					</div>

					<div class="form">
						<h5>Atribuições <span>(Opicional)</span></h5>
						{{ form.responsabilities }}
						{{ form.errors.responsabilities }}
						<p class="note">Separe as atribuições com vírgula</p>
					</div>

					<div class="form">
						<h5>Requisitos <span>(Opicional)</span></h5>
						{{ form.requirements }}
						{{ form.errors.requirements }}
						<p class="note">Separe as requisitos com vírgula</p>
					</div>

					<div class="form">
						<h5>Categoria</h5>
						{{ form.category }}
						{{ form.errors.category }}
					</div>

					<div class="divider margin-top-0"></div>
					<button type="submit" class="button big margin-top-5">Postar <i class="fa fa-arrow-circle-right"></i></button>
				</form>

			</div>
		</div>
{% else %}
	<div class="container">
		<div class="user-warning">
			<img src="https://i.imgur.com/H1dY8lY.gif" alt="">
			<span class="user-permission-warning">Você está perdido? Sua conta nao dá acesso à página que você está tentando acessar.</span>
		</div>
	</div>
{% endif %}

</div>
{% endblock content %}
{% block page_scripts %}
	<script src="{% static 'scripts/chosen.jquery.min.js' %}"></script>
{% endblock page_scripts %}